name: CD

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up SSH key
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.AZURE_VM_SSH_KEY }}

      - name: Add Azure VM to known_hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.AZURE_VM_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy to Azure VM
        run: |
            ssh ${{ secrets.AZURE_VM_USER }}@${{ secrets.AZURE_VM_HOST }} << 'EOF'
            cd ${{ secrets.AZURE_VM_APP_PATH }}
            git fetch origin master
            git reset --hard origin/master
            git clean -fd
            bundle config set --local deployment 'true'
            bundle config set --local without 'development test'
            bundle install
            chmod +x bin/rails
            bin/rails db:migrate RAILS_ENV=production
            sudo systemctl restart myapp.service
            EOF
