name: SonarCloud Scan

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

jobs:
  sonar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4

      - name: Copy coverage from artifacts
        uses: actions/download-artifact@v4
        with:
          name: coverage
          path: coverage

      - name: Run SonarCloud scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          projectBaseDir: .
          args: >
            -Dsonar.coverageReportPaths=coverage/coverage.json
